body {
 font-family: Arial, Helvetica, sans-serif;
 font-size:1.2em;
}
.star {
 color:#b30000;
}
label {
 display:block;
}
.inline {
 display:inline;
}
.instructions {
 position:relative;
 top: 1.6em;
 display:block;
}
.instructions-container {
 margin-bottom:2em;
}
.instructions-container label {
 margin-bottom:-1.2em;
}
.hidden 
{position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;}
  .msg{background-color: green;}